* {
    font-family: 'Nunito', sans-serif;
    color: #000;
}

html {
    background: linear-gradient(#0CF, #FC7502) no-repeat;
}

.card {
    background-color: #FFF;
    border-radius: 5px;
    margin: 10px 10px;
}

.profilePic {
    border-radius: 5px;
    margin: 10px calc(50% - 100px);
}

h1, .aboutMeHeader p {
    text-align: center;
}

h1, h2, h3, h4, p, small {
    margin: 0;
    padding: 10px;
}

h1, h2, h4 {
    font-weight: 800;
}

.columns {
    padding-top: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    background: #FFF;
    position: fixed;
    top: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 25px #000; 
}

.open {
    width: 100%;
    height: 100vh;
}

.closed {
    width: 100%;
    height: 40px;
}

.closed ul {
    display: none;
}

#toggle {
    position: fixed;
    right: 0px;
    z-index: 2;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

footer {
    width: 100%;
    background-color: #FFF;
    border-radius: 5px 5px 0 0;
    text-align: center;
    box-shadow: 0 0 25px #000;
}

nav ul a{
    color: #FFF;
    background-color: #0CF;
    border-radius: 5px;
    padding: 0 10px;
}

nav ul li {
    margin: 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#topMenu {
    flex-direction: column;
}

.websiteLinks img {
    border-radius: 5px;
    margin: 10px 10%;
}

#skills ul li {
    width: 30%;
    text-align: center;
    padding: 10px 0;
}

#skills ul {
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.github, .linked_in {
    padding: 10px;
}

.webPic1, .webPic2, .webPic3 {
    width: 80%;
    margin: 0;
}

button{
    margin-bottom: 10px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    #toggle {
        display: none;
    }

    .card {
        background-color: #FFF;
        border-radius: 5px;
        margin: 10px 0;
    }

    h1, .aboutMeHeader p {
        text-align: left;
    }

    .profilePic {
        margin: 10px 10px;
        float: left;
    }

    .columns {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
     }

    .container {
        max-width: 1200px;
        width: 80%;
        margin: auto;
    }

    .column {
        width: calc(50% - 5px);
    }

    .websiteLinks img{
        float: left;
    }

    .webPic1, .webPic2, .webPic3 {
        width: 50%;
    }

    .websiteLinks img {
        border-radius: 5px;
        margin: 5px 10px;
    }
    
    .w3 .websiteLinks img {
        margin-bottom: 10px;
    }

    ul {
        padding: 0 10%;
    }

    .closed ul {
        display: flex;
    }

    #topMenu {
        justify-content: flex-end;
        flex-direction: row;
    }
}