* {
  font-family: 'Maven Pro', sans-serif;
  font-display: auto;
  font-size: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
}

body {
  margin: 0;
  color: white;
  background: #1C1E26;
}

.jumbotron {
  margin-top: 2vh;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.jumbotron .code {
  grid-column: span 3;
  z-index: 2;
}

.jumbotron .code * {
  font-size: 18px;
  line-height: 18px;
  margin: .5vh 0;
}

@media screen and (min-width: 768px) {
  .jumbotron .code * {
    font-size: 36px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1300px) {
  .jumbotron .code * {
    font-size: 48px;
    line-height: 48px;
  }
}

.jumbotron .code span {
  display: inline-block;
  color: #00779E;
}

.jumbotron .code .typeCursor {
  color: white;
  -webkit-animation: fade 2s ease-in-out infinite;
          animation: fade 2s ease-in-out infinite;
}

.jumbotron .bg {
  position: absolute;
  z-index: -1;
  height: 60vh;
  right: 0;
  top: 0;
}

.jumbotron .planet {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  position: relative;
  background: url("imgs/planet.svg") center/cover;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .jumbotron .planet {
    display: none;
  }
}

.jumbotron .planet::after {
  content: '';
  position: absolute;
  width: 20%;
  height: 20%;
  background: url("imgs/moon.svg");
  border-radius: 50%;
  -webkit-animation: revolve 20s ease-in-out infinite;
          animation: revolve 20s ease-in-out infinite;
}

.projects {
  margin-top: 2vh;
  width: 100%;
  border: #4900AB solid 2px;
  border-radius: 5px;
  background-color: rgba(73, 0, 171, 0.5);
}

@media screen and (min-width: 768px) {
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    height: 60vh;
  }
}

.projects .list {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media screen and (min-width: 768px) {
  .projects .list {
    height: calc(60vh - 4px);
    border-right: #4900AB solid 2px;
  }
}

.projects .list::-webkit-scrollbar {
  width: 0 !important;
}

.projects .list .website {
  width: 45%;
  position: relative;
  overflow: auto;
  border-radius: 5px;
  margin: 2.5%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.projects .list .website img {
  display: block;
  margin: 0 auto;
  width: 100%;
  pointer-events: none;
}

.projects .list .website .overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00779E;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  pointer-events: none;
}

.projects .list .website span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 3;
  top: -50px;
  width: 100%;
  height: 100%;
  font-size: 24px;
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  pointer-events: none;
}

.projects .list .website:hover {
  cursor: pointer;
}

.projects .list .website:hover .overlay {
  opacity: 1;
}

.projects .list .website:hover span {
  opacity: 1;
  top: 0;
}

.projects .description {
  grid-column: span 3;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  overflow-y: scroll;
}

.projects .description::-webkit-scrollbar {
  width: 0 !important;
}

.projects .description .content {
  padding: 0 10%;
  margin: 0 auto;
  width: 100%;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media screen and (min-width: 768px) {
  .projects .description .content {
    position: absolute;
  }
}

.projects .description h1 {
  text-align: center;
  font-size: 36px;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .projects .description h1 {
    font-size: 24px;
  }
}

.projects .description img {
  display: block;
  margin: 2% auto 0 auto;
  width: 80%;
  border-radius: 5px;
}

.projects .description p {
  margin: 5px;
  text-align: center;
}

.projects .description .buttons {
  text-align: center;
  margin-bottom: 16px;
  outline: none;
}

.projects .description a {
  display: inline-block;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #FC8100 solid 2px;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.projects .description a svg {
  fill: #FC8100;
  vertical-align: middle;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.projects .description a:hover {
  background-color: #FC8100;
  color: #4900AB;
  cursor: pointer;
}

.projects .description a:hover svg {
  fill: #4900AB;
}

.resume {
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(28, 30, 38, 0.5);
  overflow-y: scroll;
  z-index: 3;
}

.resume .content {
  -webkit-transition: top .3s ease-in-out;
  transition: top .3s ease-in-out;
  position: relative;
  top: -100%;
  margin: 2vh auto;
  padding: 10px 100px;
  background: white;
  width: 100%;
  border-radius: 5px;
  color: black;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
  .resume .content {
    max-width: 1300px;
    width: 80%;
  }
}

.resume .content * {
  padding: 0;
}

.resume .content button {
  background: url(imgs/close.svg) center/cover;
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
}

.resume .content .title {
  text-align: center;
}

.resume .content h2 {
  color: #00779E;
}

.resume .content h4 {
  margin: 0;
}

.resume .content .skillsUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.resume .content .skillsUl li {
  width: 33%;
  padding: 0;
}

.resume .content .skillsUl li:nth-child(3n + 2) {
  text-align: center;
}

.resume .content .skillsUl li:nth-child(3n + 3) {
  text-align: right;
}

.resume .content li {
  margin: 10px 0;
  list-style: none;
}

.resume .content small {
  font-size: 16px;
}

.resume .content a {
  display: block;
  text-align: center;
}

a {
  color: #FC8100;
  text-decoration: none;
}

.links {
  margin-top: 1vh;
  width: 100%;
  color: #FC8100;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.links .linkSvg, .links a {
  width: 4vh;
  height: 4vh;
}

.links a {
  position: relative;
}

.links a span {
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 60%;
  opacity: 0;
}

.links a:hover span {
  top: 100%;
  opacity: 1;
}

.container {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1300px;
    width: 80%;
  }
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

@-webkit-keyframes revolve {
  0% {
    left: -20%;
    top: 0%;
  }
  25% {
    width: 30%;
    height: 30%;
  }
  50% {
    left: 110%;
    top: 70%;
    width: 20%;
    height: 20%;
  }
  100% {
    left: -20%;
    z-index: -1;
    top: 0%;
  }
}

@keyframes revolve {
  0% {
    left: -20%;
    top: 0%;
  }
  25% {
    width: 30%;
    height: 30%;
  }
  50% {
    left: 110%;
    top: 70%;
    width: 20%;
    height: 20%;
  }
  100% {
    left: -20%;
    z-index: -1;
    top: 0%;
  }
}

@-webkit-keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}
/*# sourceMappingURL=stylesheets.css.map */