.aboutMe {
  & .blurb {
    margin: var(--xl-spacing) 0;

    @media screen and (min-width: 640px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--l-spacing);
    }

    & .text {
      margin: auto;
    }

    & img {
      display: none;
      width: 100%;
      @media screen and (min-width: 640px) {
        display: block;
      }
    }

    & span {
      margin-left: 1ch;
    }
  }
}
