footer {
  margin-top: var(--xl-spacing);

  & .wave {
    position: relative;
    width: 100%;
    top: 8px;
  }

  & h2 {
    color: white;
    margin: var(--spacing) 0;
  }

  & .contact {
    & .contactForm {
      & .name,
      & .email,
      & .message {
        display: block;
        width: 100%;
        padding: var(--s-spacing);
        margin-bottom: var(--spacing);
        border: none;
        border-bottom: solid 2px white;
        outline: none;
        background: inherit;
        font-family: Nunito, Helvetica, sans-serif;

        &::placeholder {
          color: white;
          font-weight: bold;
        }

        &:not(:placeholder-shown):invalid {
          border: solid 1px red;
        }
      }

      & .message {
        background: white;
        resize: none;
        height: 350px;
        border-radius: 5px;

        &::placeholder {
          color: var(--blue);
        }
      }

      & input[type='submit'] {
        -webkit-appearance: none;
        background: white;
        color: var(--blue);
        font-weight: bold;
        box-shadow: 3px 3px 10px #444;
        cursor: pointer;
        font-size: 1rem;
        font-family: Nunito, Helvetica, sans-serif;
      }
    }
  }

  & .content {
    background: var(--blue);
    padding-top: var(--l-spacing);
  }

  & .links {
    text-align: center;

    & .icon {
      background: none;
      vertical-align: middle;
      padding: 0;
      color: white;
      margin: 150px 25px 50px;
      box-shadow: none;
    }
  }
}
