footer {
  margin-top: var(--container-margin);

  & .content {
    background: var(--blue);
  }

  & .links {
    text-align: center;

    & .icon {
      margin: 3rem 1rem;
      background: none;
      vertical-align: middle;
      padding: 0;
      color: white;
      box-shadow: none;
    }
  }
}
