footer {
  margin-top: var(--xl-spacing);

  & .wave {
    position: relative;
    width: 100%;
    top: 8px;
  }

  & h2 {
    color: white;
    margin: var(--spacing) 0;
  }

  & .contact {
    & .contactForm {
      position: relative;

      & .name,
      & .email,
      & .message {
        display: block;
        width: 100%;
        padding: var(--s-spacing);
        margin-bottom: var(--spacing);
        border: none;
        border: solid 1px white;
        outline: none;
        background: white;
        font-family: 'Inter', Helvetica, sans-serif;
        color: black;
        border-radius: 5px;

        &::placeholder {
          color: black;
        }

        &:not(:placeholder-shown):invalid {
          border-color: red;
        }
      }

      & .message {
        resize: none;
        height: 350px;
      }

      & input[type='submit'] {
        -webkit-appearance: none;
        background: var(--blue);
        color: white;
        // box-shadow: 3px 3px 10px #444;
        cursor: pointer;
        font-size: 1rem;
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 6px 20px;
      }
    }
  }

  & .content {
    background: var(--blue);
    padding-top: var(--l-spacing);
  }

  & .links {
    text-align: center;

    & .icon {
      background: none;
      vertical-align: middle;
      padding: 0;
      color: white;
      margin: 150px 25px 50px;
      box-shadow: none;
    }
  }
}
