.app-header {
  width: 100vw;
  background: url('../images/top_wave.svg') top/cover no-repeat;

  & .container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & h1 {
      font-weight: 100;
      z-index: 1;
    }

    & .tag-line {
      font-weight: 400;
    }

    & .about {
      max-width: 500px;
      margin: 0 0 2rem;
      line-height: 1.4;

      & span {
        color: var(--blue);
      }
    }

    & h1, & .tag-line {
      margin-bottom: 1rem;
    }

    & .tag-line, & .about {
      color: var(--gray);
    }

    & a {
      background-color: transparent;
      color: var(--blue);
      border: 1px var(--blue) solid;
      padding: 0.8em;
      position: relative;

      &:hover:after {
        width: 100%;
      }

      &:after {
        display: block;
        width: 0;
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: var(--blue);
        opacity: .2;
        border-radius: 2px;
        transition: width .4s ease-in-out;
      }
    }
  }
}
