.myWork {
  & .projects {
    margin: var(--l-spacing) auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: var(--l-spacing);

    & h4 {
      margin: 0;
    }

    & img {
      width: 100%;
      margin: var(--spacing) 0;
    }

    & a {
      display: inline-block;
      margin-right: var(--s-spacing);
    }

    & p {
      margin-bottom: var(--spacing);
    }

    & .tags {
      color: var(--blue);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: var(--spacing) 0;

      & p {
        margin: 0 2ch 0 0;
      }
    }
  }

  & .showMore {
    display: block;
    margin: 0 auto;
    margin-bottom: var(--l-spacing);
    background: none;
    box-shadow: none;
    color: var(--blue);
    font-weight: bold;
  }

  & .archive {
    border: var(--gray) solid 2px;
    border-radius: 10px;
    overflow: hidden;

    & li {
      display: flex;
      align-items: center;
      padding: var(--s-spacing);

      & .title {
        flex-grow: 1;
        margin: 0;
        padding: 0;
        color: black;
      }

      & a,
      & .title {
        padding: 0;
        background: none;
        box-shadow: none;
      }

      & a {
        color: var(--blue);
        margin-left: 1rem;
      }

      &:nth-child(even) {
        background: var(--gray);
      }
    }
  }
}
