.my-work {

  & .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 6rem;

    & .project {

      &:hover .image-overlay {
        &:after {
          opacity: 0;

        }

        & img {
          filter: none;
        }

        & h4:before {
          top: 5px;
          left: 5px;
        }

        & .tags:before {
          top: -5px;
          left: -5px;
        }
      }

    & .image-overlay {
      position: relative;
      margin-bottom: 2rem;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--purple);
        z-index: 2;
        opacity: 0.8;
        transition: opacity 0.3s linear;
        overflow: hidden;
      }

      & img {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: fill;
        filter: blur(1px) grayscale(100%);
      }
    }

      & h4 {
        position: absolute;
        z-index: 4;
        padding: .5rem;
        top: -1.2rem;
        left: -1.2rem;

        &:before {
          content: '';
          display: inline;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: -1;
          border: 3px solid var(--green);
          box-sizing: border-box;
          border-radius: 5px;
          transition: all 0.1s linear;
        }
      }

      & .tags {
        color: var(--blue);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        bottom: -1.2rem;
        right: -1.2rem;
        padding: .5rem;
        z-index: 4;

        & p {
          margin: 0 2ch 0 0;

          &:last-child {
            margin: 0;
          }
        }

        &:before {
          content: '';
          display: inline;
          width: 100%;
          height: 100%;
          position: absolute;
          top: -10px;
          left: -10px;
          z-index: -1;
          border: 3px solid var(--green);
          box-sizing: border-box;
          border-radius: 5px;
          transition: all 0.1s linear;
        }
      }

      & h4, & .tags {
        &:after {
          content: '';
          display: inline;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          background: #4c4c4c;
          box-sizing: border-box;
          border-radius: 5px;
        }
      }

      & .links {
        display: inline-flex;

        & a {
          margin-right: 1rem;
        }
      }
    }
  }

  & .show-more {
    display: block;
    margin: var(--title-margin) auto;
    background: none;
    box-shadow: none;
    color: var(--blue);
    font-weight: bold;
  }

  & .archive {
    border: var(--gray) solid 2px;
    border-radius: 10px;
    overflow: hidden;

    & li {
      display: flex;
      align-items: center;
      padding: var(--padding);

      & .title {
        flex-grow: 1;
        margin: 0;
        padding: 0;
        color: black;
      }

      & a,
      & .title {
        padding: 0;
        background: none;
        box-shadow: none;
      }

      & a {
        color: var(--blue);
        margin-left: 1rem;
      }

      &:nth-child(even) {
        background: var(--gray);
      }
    }
  }
}
