.aboutMe {
  & .blurb {
    margin: var(--xl-spacing) 0;

    @media screen and (min-width: 640px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--l-spacing);
    }

    & .text {
      margin: auto;

      & p {
        margin-bottom: var(--spacing);
      }
    }

    & img {
      display: none;
      @media screen and (min-width: 640px) {
        display: block;
      }
    }
  }

  & ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--l-spacing);
    flex-grow: 1;

    @media screen and (min-width: 570px) {
      grid-template-columns: repeat(3, 1fr);
    }

    & li {
      padding: var(--spacing) var(--s-spacing);
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;

      & img {
        width: 80%;
        max-width: 10rem;
        margin-bottom: var(--spacing);
      }
    }

    & .WebDevelopment {
      background: linear-gradient(rgba(93, 211, 158, 0.96), rgba(93, 211, 158, 0.96)),
        url('../images/computer.svg') center/cover no-repeat;
    }

    & .Responsive {
      background: linear-gradient(rgba(255, 184, 111, 0.96), rgba(255, 184, 111, 0.96)),
        url('../images/responsive_design.svg') center/cover no-repeat;
    }

    & .QualityAssurance {
      background: linear-gradient(rgba(8, 126, 139, 0.96), rgba(8, 126, 139, 0.96)),
        url('../images/qa.svg') center/cover no-repeat;
    }
  }
}
