footer {
  margin-top: var(--xl-spacing);

  & .wave {
    position: relative;
    width: 100%;
    top: 5px;
  }

  & h1 {
    color: white;
  }

  & .contact {
    @media screen and (min-width: 640px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--l-spacing);
    }

    & .contactForm {
      & .name,
      & .number,
      & .email,
      & .message {
        width: 100%;
        padding: var(--s-spacing);
        margin-bottom: var(--spacing);
        border-radius: 10px;
        border: solid 1px white;
        outline: none;
        background: white;

        &:not(:placeholder-shown):invalid {
          border: solid 1px red;
        }
      }

      & textarea {
        resize: none;
        height: 300px;
      }

      & input[type='submit'] {
        background: var(--green);
        box-shadow: 3px 3px 10px #444;
        cursor: pointer;
      }
    }

    & .mail {
      display: none;
      width: 100%;

      @media screen and (min-width: 640px) {
        display: block;
      }
    }
  }

  & .content {
    background: var(--blue);
    font-size: 1.4em;
    padding-top: var(--l-spacing);
  }

  & .links {
    text-align: center;

    & .icon {
      font-size: 5rem;
      background: none;
      vertical-align: middle;
      padding: 0;
      color: white;
      margin: var(--spacing) var(--spacing);
      box-shadow: none;
    }
  }
}
