footer {
  background: url('../images/bottom_wave.svg') bottom center/250% no-repeat;
  padding: 180px 0 var(--spacing) 0;
  text-align: center;

  @media screen and (min-width: 700px) {
    background-size: 140%;
  }

  @media screen and (min-width: 1300px) {
    background-size: 100%;
    padding-top: 200px;
  }

  & .links {
    & .icon {
      font-size: 4em;
      background: none;
      vertical-align: middle;
      padding: 0;
      color: white;
      margin: 0 var(--spacing);
      box-shadow: none;
    }
  }
}
