footer {
  text-align: center;

  & img {
    position: relative;
    width: 100%;
    top: 5px;
  }

  & .content {
    background: var(--blue);
  }

  & .links {
    & .icon {
      font-size: 4em;
      background: none;
      vertical-align: middle;
      padding: 0;
      color: white;
      margin: var(--spacing) var(--spacing);
      box-shadow: none;
    }
  }
}
