@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --blue: #35a7ff;
  --yellow: #ffb86f;
  --teal: #087e8b;
  --green: #5dd39e;
  --red: #d64045;
  --gray: #e0e0e0;
  --xs-spacing: 5px;
  --s-spacing: 10px;
  --spacing: 10px;
  --l-spacing: 40px;
  --xl-spacing: 80px;

  @media screen and (min-width: 540px) {
    --spacing: 20px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 1em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 4.209rem;
  font-weight: bold;
}

h2 {
  font-size: 2.369rem;
  font-weight: 600;
}

h3 {
  font-size: 1.777rem;
}

h4,
.cardTitle {
  font-size: 1.333rem;
  font-weight: 600;
}

p {
  margin: 1em 0;
}

button,
a,
input[type='submit'] {
  display: inline-block;
  background-color: var(--blue);
  padding: 4px 14px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  transition: box-shadow linear 0.03s;
  box-shadow: 5px 5px 10px var(--gray);

  &:active {
    box-shadow: 3px 3px 3px var(--gray);
  }
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 var(--spacing);
}

@import './_header.scss';
@import './_aboutMe.scss';
@import './_projects.scss';
@import './_footer.scss';
