@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --blue: #55d6be;
  --green: #7cea9c;
  --gray: #808080;
  --purple: #9067C6;
  --red: #F71735;

  --margin: 1.25rem;
  --l-margin: 2.5rem;
  --container-margin: 7.5rem;
  --title-margin: 3.5rem;

  --padding: 0.625rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: hsl(190, 50%, 5%);
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 4.209rem;
  font-weight: bold;
}

h2 {
  font-size: 4.209rem;
}

h3 {
  font-size: 2.369rem;
  font-weight: 600;
  margin: var(--title-margin) 0;
}

h4 {
  font-size: 1.777rem;
}

h5,
p,
button {
  font-size: 1rem;
  margin: 1em 0;
}

button,
a,
input[type='submit'] {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: var(--blue);
  color: white;
  padding: 0.4em 0.8em;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

@import './_header.scss';
@import './_projects.scss';
@import './_footer.scss';
