@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --blue: #35a7ff;
  --gray: #e0e0e0;

  --margin: 1.25rem;
  --l-margin: 2.5rem;
  --container-margin: 7.5rem;
  --title-margin: 3.5rem;

  --padding: 0.625rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 4.209rem;
  font-weight: bold;
}

h2,
h3 {
  font-size: 2.369rem;
  font-weight: 600;
}

h3 {
  margin: var(--title-margin) 0;
}

h4,
.cardTitle {
  font-size: 1.777rem;
}

h5,
p,
button {
  font-size: 1rem;
  margin: 1em 0;
}

button,
a,
input[type='submit'] {
  display: inline-block;
  background-color: var(--blue);
  padding: 4px 14px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  transition: box-shadow linear 0.03s;
  box-shadow: 4px 4px 10px var(--gray);

  &:active {
    box-shadow: 2px 2px 5px var(--gray);
  }
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 var(--padding);
}

@import './_header.scss';
@import './_projects.scss';
@import './_footer.scss';
