.myWork {
  & h2 {
    font-weight: bold;
    font-size: 1.2em;
  }

  & img {
    width: 100%;
  }

  & .reactWork {
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & li {
      width: 100%;
      @media screen and (min-width: 600px) {
        width: 48%;
      }
    }
  }

  & .vanillaWork {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & li {
      width: 100%;
      @media screen and (min-width: 600px) {
        width: 30%;
      }
    }
  }

  & a,
  & span {
    display: inline-block;
    margin: 1rem 1rem 1rem 0;
  }

  & .showMore {
    display: block;
    margin: 0 auto;
    background: none;
    box-shadow: none;
    color: var(--theme);
    font-weight: bold;
  }

  & .archive {
    & li {
      display: flex;
      align-items: center;
      font-size: 14px;

      & h3 {
        flex-grow: 1;
        font-weight: 200;
      }

      & a,
      & span {
        padding: 0;
        background: none;
        color: var(--theme);
      }
    }
  }
}
