.myWork {
  & .projects {
    margin: var(--spacing) auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: var(--l-spacing);

    & li {
      display: flex;
      flex-direction: column;

      & p {
        flex-grow: 1;
      }

      & img {
        width: 100%;
        margin-bottom: var(--spacing);
      }
    }

    & a,
    & span {
      display: inline-block;
      margin-right: var(--s-spacing);
      margin-bottom: var(--spacing);
    }
  }

  & .showMore {
    display: block;
    margin: 0 auto;
    margin-bottom: var(--spacing);
    background: none;
    box-shadow: none;
    color: var(--blue);
    font-weight: bold;
  }

  & .archive {
    border: var(--gray) solid 2px;
    border-radius: 10px;

    & li {
      display: flex;
      align-items: center;
      font-size: 1.2em;
      padding: var(--s-spacing);

      & h1 {
        flex-grow: 1;
        font-weight: 200;
        margin-bottom: 0;
        font-size: 1.6rem;
      }

      & a,
      & span {
        padding: 0;
        background: none;
        color: var(--blue);
        box-shadow: none;
        margin-right: 0px;
        margin-left: var(--s-spacing);
      }

      &:nth-child(even) {
        background: var(--gray);
      }
    }
  }
}
