.skills {
    & ul {
        padding: 1em 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing);

        @media screen and (min-width: 510px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: 810px) {
            grid-template-columns: repeat(4, 1fr);
        }

        & li {
            background: var(--theme);
            line-height: 2em;
            color: white;
            text-align: center;
            border-radius: 10px;
        }
    }
}
